.component {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component div img {
  width: 80%;
  object-fit: contain;
}
.informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.5;
}
.addor {
  flex: 0.1;
  display: flex;
  justify-content: flex-end;
}
.soraa {
  flex: 0.25;
}
.quan{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
